.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.red-border {
  border: 1px solid red;
}
.error-message {
  color: red;
  font-weight: bold;
}
