@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import 'normalize.css';

:root {
  --font-family: "Montserrat", sans-serif;
  --color-main-border: #000000;
  --color-border-bottom: rgb(85, 85, 248);
  --border-radius: 10px;
  --bg-hover: rgb(96, 241, 96);
  --button-hover: #2a2ac4;
  --success: rgb(181, 250, 181);
  --error: rgb(247, 176, 176);
  --color-white: #fff;
  --color-selected-item: rgb(255, 145, 0);
  --color-select: #f2f2f2;
  --border-color-select: #ccc;
  --text-color-select: #333;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Montserrat, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color-select);
  border-radius: var(--border-radius);
  background-color: var(--color-select);
  color: var(--text-color-select);
  width: 25%;
}
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color-select);
  border-radius: var(--border-radius);
  background-color: var(--color-select);
  color: var(--text-color-select);
  width: auto;
}

option {
  background-color: var(--color-white);
  color: var(--text-color-select);
}

button {
  border: none;
  outline: none;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-white);
  color: var(--color-border-bottom);
  cursor: pointer;
  border-radius: var(--border-radius);
}

button:hover {
  color: var(--button-hover);
  text-decoration: underline;
}
